/* Style Guide
 * Primary Color: Teal
 * Secondary Color: Burgundy
*/

h1 {
  color: teal;
  font-family: "Cuprum", Impact, "roboto", sans-serif;
  font-size: 48px;
  letter-spacing: 2px;
  text-align: center;
}

header {
  background-color: Black;
  padding: 1px;
}

img {
  width: 100%;
}

p {
  color: Black;
}

/* Typography
 * Primary Font: font-family: "Cuprum", Impact, "roboto", sans-serif;
 * 
*/